.send{
    padding: 0.2rem;
    border-radius: 15%;
    text-decoration: none;
    border-style: none;
    background-color: rgb(70, 163, 70);
    color: white;
    
}
.a1{
    padding: 1rem;
    background-color: aqua;
    border-radius: 1rem;
}
.hover{
    background-color: beige;

}
.hover:hover{
    background-color: white;

}
.txt01{
    color: black;
    background-color: white;
    padding: 0.3rem;
    border-radius: 0.7rem;
    border: 1px solid #ccc;
    font-size: 0.75rem;
}